
header {background-color: #8CB6B5(58, 44, 31, 0.421);}

* {border: 2px solid black;}

h1 {padding: 20px; }

img {width: 100px;

}

#cup {width: ;} (image)

classes is how you can group things together that follow the same rules.
classes and IDs.
period will look for element classes

.espresso {width: ;}

stacking: change default behavior with display property from stacked blocks to inline block

.coffee {width: 20 px;
        display: inline-block;}

  If I want my h1 to float to the left of the page and elements to float to the :right
  
  #cup {float: left}
  header {height: 200px;
}

ul {list-style-type: none ;} us ID for specific elements

