/* ANATOMY OF CSS --> selector {property; value;} */

h1 {width: 100%;
text-align: right;}

head {border-color: #87a0a6;}

nav ul {list-style: none;
border-color:#87a0a6;}
nav li {display: inline;
color: black;
padding: 10px;
border-color: #87a0a6;}

body {background-color: whitesmoke;
color: #cfb4ac;
width: 75%;
font-family: Verdana;
font size: 18;}

header {background-color: #87a0a6(58, 44, 31, 0.421);
  color: black;
  font-family: verdana;
  font-size: 24;
border-color: #87a0a6;}

footer {color: black;
font-family: verdana;}

* {border: 2px solid whitesmoke;}

#logo {width: 2px;}
#espressocup {width: 82%;}
#flavorbean {width: 82%;}
#threebeans {width: 82%;}
#cincoffee {width: 82%;}
.regions {width: 26%;
  height: 20%;
display: inline-block;}

.coffeepassport 

.cp 

.roasting {align-content: center;
text-align: center;}

.footers {align-content: center;
text-align: center;
padding: 5%;}
.title {align-content: right;
font-size: 400%;
font-family: Verdana;}


article img {width: 150px}


.espresso {width: ;}

stacking: change default behavior with display property from stacked blocks to inline block

.coffee {width: 20 px;
        display: inline-block;}

